@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgba(255,0,0,1);
}

h1{
    padding: 20px;
}

.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}
.left-content,.right-content{
    flex-basis: 50%;
}
.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,0.5fr));
    grid-gap:1rem;
    width: 70%;
    padding-top: 100px;
}
.card{
    width: 300px;
    background-color:#efe41f;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.card img {
        background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 9%, rgba(0,0,0,0) 45%);
}
.card:hover {
    background-color: #ff0000;
    color: wheat;
}
.right-content{
    width: 40%;
    text-align: center;
    color: rgb(255, 255, 255);
    position: fixed;
    top:130px;
    right: 30px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 28%, rgba(162,5,5,1) 84%);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
}
.right-content img{
    margin: 1.5rem;
    height: 160px;
}
.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.abilities{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.abilities .group{
    background-color: #470cc6;
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
    margin-left: 1rem;
}
.abilities .group:hover{
    color: #000000;
    background-color: white;
}
.base-stat{
    margin-top: 2rem;
}
.btn-group{
    display: flex;
}
.btn-group button{
    outline: none;
    border: none;
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: #000000;
    border-radius: 8px;
}

.pokeheader {
    background: rgb(0,0,0);
background: linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 17%, rgba(255,0,0,1) 100%);
    color: aliceblue;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
}
.imgpoke{
    width: 50px;
    height: 50px;
    padding: 1rem;
}